*/*.sock
/ebooking/env/
.idea/
*.pyc 
/*/migrations/*
docker/
ebooking/hotels/migrations
ebooking/hotels/migrations/*
ebooking/reservation/migrations/*
ebooking/reservation/migrations
data/
data/*
docker/**/*.sh