*/*.sock
/ebooking/env/
.idea/
*.pyc 
/*/migrations/*
docker/
ebooking/content/media/*
ebooking/content/static
ebooking/content/static/*
ebooking/ebooking/content/static/*
ebooking/hotels/migrations
ebooking/hotels/migrations/*
ebooking/reservation/migrations/*
ebooking/reservation/migrations
data/
data/*
docker/**/*.sh