{% extends 'base.html' %}

{% load django-bootstrap5 %}
{% load i18n %}
{% load static %}
{% block content %}

    <link href="{% static 'css/changeProfile.css' %}" rel="stylesheet">

    <div class="container white">
        <div class="row">
            <div class="col-7 col-xs-8 col-sm-7 col-md-6 col-xl-6">
                <div class="card">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    <form class="box" method="post">
                        {% csrf_token %}
                        <h4>{% trans 'Editare profil' %}</h4>

                        {% for profile_field in form %}
                            {% if profile_field.name == 'preferinta_notificare' %}
                                <div class="form-check form-check-inline" style="padding-left: 5% !important;">
                                    {% bootstrap_field profile_field %}
                                    <label class="form-check-label" for="inlineCheckbox1">Notificări prin e-mail</label>
                                    <i class="fa fa-info-circle icon"
                                       title="Notificări prin e-mail (Interman) privind contul dumneavoastră, cererile de analiză etc."></i>
                                </div>
                            {% else %}
                                <div style="margin-bottom: -10px; margin-top: 30px;">{{ profile_field.label }}</div>
                                {{ profile_field }}
{#                                {% bootstrap_field profile_field %}#}
                            {% endif %}
                        {% endfor %}

                        <br>
                        <br>
                        <button type="submit" class="bn5 btn-success" aria-pressed="true">
                            {% trans 'Modifică' %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
