{% extends 'base.html' %}

{% load django-bootstrap5 %}
{% load i18n %}
{% load static %}
{% block content %}
    {% load sign_up %}

    <div class="error_list" style="width:100%;">
        {% if form.errors %}
            {% for field in form %}
                {% if field.errors %}
                    <div class="alert alert-danger"
                         data-current-password-error="Your individual error message in a different language.">
                {% endif %}
            {% for error in field.errors %}
                <strong>{{ error|escape }}</strong>
            {% endfor %}
            {% if field.errors %}
                </div>
            {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="container " style="color:white; ">
        <div class="row">
            <div class="col-7 col-xs-8 col-sm-7 col-md-6 col-xl-6">
                <div class="card">

                    <form class="box align-middle" method="post" style="border-radius: 25px;">
                        <h4 style="color:white;">{% trans 'Schimbare parolă' %}</h4>
                        <p class="text-muted">Vă rugăm să introduceți datele necesare</p>

                        {% csrf_token %}
                        {% for user_field in form %}
                            {% if user_field.name == 'new_password1' %}
                                <div class="input-icons" style="display:inline">
                                    <i class="fa fa-info-circle icon"
                                       title="{% html_to_text user_field.help_text %}"></i>
                                    {{ user_field }}
                                </div>
                            {% else %}
                                {{ user_field }}
                            {% endif %}
                        {% endfor %}
                        <button type="submit" class="bn5 btn-success"
                                aria-pressed="true">{% trans 'Modifică' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}