{% extends 'base.html' %}

{% load static %}

{% load django_bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}

{% block reservations %}


<div class="container">
    {% if request.user.is_superuser %}
      <h1 style="padding:1em;">All reservations</h1>
    {% elif request.profile.is_hotel_administrator %}
      <h1 style="padding:1em;">Your hotels reservations</h1>
    {% else %}
      <h1 style="padding:1em;">Your reservations</h1>
    {% endif %}
    <div class="filters">
      <div class="card-body">
          <form method="get">
              {% bootstrap_form filter.form %}
    
              <button class="btn btn-primary" type="submit">
                  Caută
              </button>
          </form>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% if reservations %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Hotel</th>
              <th>Room</th>
              <th>Begin Date</th>
              <th>End Date</th>
              <th>Days</th>
              <th>Guest Name</th>
              <th>Phone No.</th>
              <th>Observations</th>
              <th>
              <th>
            </tr>
          </thead>
          <tbody>
            {% for reservation in reservations %}
            <tr>
  
              <td>{{ reservation.hotelRoom.hotel.name }}</td>
              <td>{{ reservation.hotelRoom.id }}</td>
              <td>{{ reservation.begin_at }}</td>
              <td>{{ reservation.ends_at }}</td>
              <td>{{ reservation.time_in_days }}</td>
              <td>{{ reservation.first_name }} {{ reservation.last_name }}</td>
              <td>{{ reservation.phone_no }}</td>
              <td>{{ reservation.observations }}</td>
              <td><a href="{% url 'reservation:edit_reservation' reservation_id=reservation.id %}" class="btn btn-primary">Edit</a></td>
              <td><a href="{% url 'reservation:delete_reservation' reservation_id=reservation.id hotel_id=reservation.hotelRoom.hotel.id %}" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>No reservations found.</p>
        {% endif %}
        <div class="row justify-content-start">
          <div class="col-auto">
            <a href="{% url 'reservation:add_reservation' %}" class="btn btn-primary">Adauga Rezervare</a>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
