[run]
source = .
omit =
    */tests/*
    */tests.py
    */migrations/*
    manage.py
    */__init__.py
    */settings.py
    */urls.py
    */wsgi.py
    */asgi.py
    */utils.py
    */mail.py
    */views.py


[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.: