.four_hotels_vertically{
    width:30%;
    height: 200%;
    margin:auto;
    display: block;
}

.hotel_rent{
    width: 100%;
    height: 20%;
    margin:auto;
    font-size: 1.2em;
    margin-bottom:2em;
}

.hotel_name{
    padding-top: 5em;
}

.hotel_stars{
    display: inline-block;
    margin-bottom: 10em;
    text-align: center;
}

.hotel_img{
    height: 20em;
    width: 20em;

}